VITE_PROJECT_URL=https://hckzsirtpkhuupdqcfia.supabase.co
VITE_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhja3pzaXJ0cGtodXVwZHFjZmlhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDA2NzgxMjUsImV4cCI6MjA1NjI1NDEyNX0.57Yus9ZvjWq9wxNeWF0X7pvPI6iBk8JACqcL-q0vpm0